<div class="jumbotron">
    <form [formGroup]="addressForm">
        <div class="form-group">
            <label>First Name:</label>
            <input class="form-control" type="text" placeholder="John" formControlName='firstName' required>
        </div>
        <div *ngIf="formErrors.firstName" class="alert alert-danger">
          {{ formErrors.firstName }}
        </div>
       
      <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" placeholder="Doe" formControlName='lastName' required>
      </div>
       <div *ngIf="formErrors.lastName" class="alert alert-danger">
          {{ formErrors.lastName }}
        </div>
      <div [formGroup]="startEnd">
        <div>
          <input type="number" formControlName="startMonth" required>
        </div>
         <div *ngIf="formErrors.startMonth" class="alert alert-danger">
          {{ formErrors.startMonth }}
        </div>
        <div>
          <input type="number" formControlName="endMonth" required>
        </div>
         <div *ngIf="formErrors.endMonth" class="alert alert-danger">
          {{ formErrors.endMonth }}
        </div>
      </div>
    </form>
</div>
